.main-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-2 {
    margin-bottom: 10px;
}

.platinum-status {
    color: #b0f7ff;
}

.gold-status {
    color: #ffe449
}

.silver-status {
    color: #989898;
}

.bronze-status {
    color: #9c5221;
}

.button-login {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
}

.button-login:hover {
    background-color: #f1f1f1;
}

.button-rent {
    box-sizing: border-box;
    width: 32%;
    margin-right: auto;
}