<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <title>TopG Car Rental</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/styles.css" th:href="@{/styles.css}"/>
</head>
<body>

<header>
    <!-- Background image -->
    <div
            class="p-5 text-center bg-image"
            style="background-image: url('/background/background-2.jpg'); height: 1000px;"
    >
        <div class="mask" style="background-color: rgba(0,0,0,0.7);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <form class="button-logout" method="POST"
                          th:action="@{/dashboard/logout}">
                        <input type="hidden"/>
                        <a
                                class="btn btn-outline-danger btn-lg m-2"
                                style="position: absolute; right: 60px; top: 60px;"
                                onclick="this.parentNode.submit();">
                            Logout</a>
                    </form>

                    <h1 class="main-1">TopG Car Rental</h1>
                    <h5 class="main-2" th:text="${'Welcome back, ' + user.name + ' ' + user.surname + '!'}">
                        Welcome back, John Doe!
                    </h5>
                    <h5 class="main-2" th:text="${'Amount spent: ' + user.amountSpent + '$'}">
                        Amount spent: 2000$
                    </h5>

                    <!-- Rendering one of the status spans -->
                    <h5 class="main-2">
                        Membership status:

                        <span th:text="${user.status}" th:if="${user.status == 'Bronze'}"
                              class="bronze-status" th:class="bronze-status">Bronze</span>

                        <span th:text="${user.status}" th:if="${user.status == 'Silver'}"
                              class="silver-status" th:class="silver-status">Silver</span>

                        <span th:text="${user.status}" th:if="${user.status == 'Gold'}"
                              class="gold-status" th:class="gold-status">Gold</span>

                        <span th:text="${user.status}" th:if="${user.status == 'Platinum'}"
                              class="platinum-status" th:class="platinum-status">Platinum</span>
                    </h5>

                    <!-- Rendering one of the loyalty discounts -->
                    <h5 class="main-2">
                        Loyalty discount:

                        <span th:if="${user.status == 'Bronze'}"
                              class="bronze-status" th:class="bronze-status">0%</span>

                        <span th:if="${user.status == 'Silver'}"
                              class="silver-status" th:class="silver-status">10%</span>

                        <span th:if="${user.status == 'Gold'}"
                              class="gold-status" th:class="gold-status">25%</span>

                        <span th:if="${user.status == 'Platinum'}"
                              class="platinum-status" th:class="platinum-status">50%</span>
                    </h5>

                    <!-- Cars rented by the user -->
                    <a
                            class="btn btn-outline-light btn-lg m-2"
                            th:href="@{dashboard/orders}"
                    >My orders</a>

                    <!-- Currently available cars to rent -->
                    <a
                            class="btn btn-outline-light btn-lg m-2"
                            th:href="@{dashboard/cars}"
                    >Available cars</a>

                    <!-- Space -->
                    <h1 class="mb-3"></h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</header>

</body>
</html>
